*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#FAQs{
    .container{
        h1{
            font-size: 32px;
            font-weight: 600;
            font-family: var(--primary-font);
            color: var(--black-color);
        }
            .accordion {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                flex-wrap: wrap;
                margin-top: 30px;
                border-radius: 8px;
                .accordion_one{
                    width: 594px;
                    .accordion-item{
                        border-radius: 8px;
                        overflow: hidden;
                        margin-bottom: 30px;
                            .accordion-header {
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                padding: 20px 30px;
                                background-color: var(--light-gray);
                                cursor: pointer;
                                color: #000;
                                span{
                                    font-weight: bold;
                                }
                            }
                            .accordion-content {
                                padding: 20px 30px;
                                font-size: 18px;
                                color: var(--dark-gray);
                                background-color: var(--light-gray);
                                font-weight: var(--secondary-font);
                                line-height: 27px;
                                overflow: hidden;
                                max-height: 0;
                                transition: max-height 0.5s;
                            }
                    }
                    details[open] .accordion-header { 
                        color: var(--primary-color);
                    }
                    details[open] .chevron { 
                        transform: rotate(180deg);
                    } 
                    .chevron { 
                        transition: transform 0.2s ease; 
                    }
                    details[open] .accordion-content { 
                        max-height: 400px;
                    }
                }
                    
            }
        .img-faq{
            margin-top: 50px;
            height: 320px;
            
        }
    }
}


@media screen and (max-width: 992px) {
    .accordion{
        flex-direction: column;
        .accordion_one { 
            width: 100%;
            .accordion-item {
                width: 100%; 
            }
        } 
    }
}